
@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.Entities.ComplexType.ENTABONEComplexTypes.AboneIslemleri

@section panelHeading
{

}

<div class="ajaxForm">

    @using (Html.BeginForm("Kaydet", "Abone", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(t => t.ENTABONE.KAYITNO)
        @Html.HiddenFor(t => t.ENTABONEBILGI.KAYITNO)
        @Html.HiddenFor(t => t.ENTABONESAYAC.KAYITNO)
        @Html.HiddenFor(t => t.ENTABONEBILGI.ABONEKAYITNO)
        @Html.HiddenFor(t => t.ENTABONESAYAC.ABONEKAYITNO)
        @Html.HiddenFor(t => t.ENTABONE.VERSIYON)
        @Html.HiddenFor(t => t.ENTABONE.OLUSTURAN)
        @Html.HiddenFor(t => t.ENTABONEBILGI.OLUSTURAN)
        @Html.HiddenFor(t => t.ENTABONESAYAC.OLUSTURAN)
        @Html.ValidationSummary(true)

        using (Html.BeginRibbon("Abone Bilgileri", ribbonColor: RibbonHelper.RibbonColor.Success))
        {
            <div class="form-group row ">
                <div class="col-md-4">
                    @Html.TextBoxFor(t => t.ENTABONE.AD, new { @class = "form-control", placeholder = _T("Abone Adı") })
                    @Html.ValidationMessageFor(t => t.ENTABONE.AD)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(t => t.ENTABONE.SOYAD, new { @class = "form-control", placeholder = _T("Abone Soyadı") })
                    @Html.ValidationMessageFor(t => t.ENTABONE.SOYAD)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(t => t.ENTABONEBILGI.ABONENO, new { @class = "form-control", placeholder = _T("Abone No") })
                    @Html.ValidationMessageFor(t => t.ENTABONEBILGI.ABONENO)
                </div>


            </div>


        }

        using (Html.BeginRibbon("Abone Kişisel Bilgileri", ribbonColor: RibbonHelper.RibbonColor.Info))
        {
            <div class="form-group row">
                <div class="col-md-4">
                    @Html.TextBoxFor(t => t.ENTABONEBILGI.KIMLIKNO, new { @class = "form-control int", placeholder = _T("Tc Kimlik No") })
                    @Html.ValidationMessageFor(t => t.ENTABONEBILGI.KIMLIKNO)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(t => t.ENTABONEBILGI.TELEFON, new { @class = "form-control int ", placeholder = _T("Telefon") })
                    @Html.ValidationMessageFor(t => t.ENTABONEBILGI.TELEFON)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(t => t.ENTABONEBILGI.EPOSTA, new { @class = "form-control", placeholder = _T("Eposta") })
                    @Html.ValidationMessageFor(t => t.ENTABONEBILGI.EPOSTA)
                </div>
            </div>


        }

        using (Html.BeginRibbon("Sayaç-Tarife Bilgileri", ribbonColor: RibbonHelper.RibbonColor.Default))
        {
            <div class="form-group row">
                <div class="col-md-4">
                    @Html.AutoComplete(t => t.ENTABONESAYAC.SAYACKAYITNO, Enums.AutocompleteFuction.SayacGetir, Enums.AutoCompleteType.List, _T("Sayaç").ToString())
                    @Html.ValidationMessageFor(t => t.ENTABONESAYAC.SAYACKAYITNO)
                </div>
              
                @if (System.Configuration.ConfigurationManager.AppSettings["Tarife"] == "Su")
                {
                    <div class="col-md-4">
                        @Html.AutoComplete(t => t.ENTABONESAYAC.TARIFEKAYITNO, Enums.AutocompleteFuction.SuTarifeGetir, Enums.AutoCompleteType.List, _T("Tarife").ToString())
                        @Html.ValidationMessageFor(t => t.ENTABONESAYAC.TARIFEKAYITNO)
                    </div>
                }
                else if (System.Configuration.ConfigurationManager.AppSettings["Tarife"] == "Elektrik")
                {
                    <div class="col-md-4">
                        @Html.AutoComplete(t => t.ENTABONESAYAC.TARIFEKAYITNO, Enums.AutocompleteFuction.ElektrikTarifeGetir, Enums.AutoCompleteType.List, _T("Tarife").ToString())
                        @Html.ValidationMessageFor(t => t.ENTABONESAYAC.TARIFEKAYITNO)
                    </div>
                }

            </div>


        }


        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @_T("Kaydet")</button>
            @Html.ButtonLink(_T("Vazgeç").ToString(), "Index", "btn btn-xs btn-danger cancel", "fa-remove")
        </div>
    }
</div>

@section script
{
    <script type="text/javascript">
        $(document).ready(function () {
            //js kodunuzu buraya yazın
        });

    </script>
}
