@model OsosOracle.Framework.SharedModels.DeleteViewModel

<div class="ajaxForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(t => t.Id)
        @Html.HiddenFor(t => t.Idler)
        @Html.HiddenFor(t => t.RedirectUrlForCancel)
        @Html.HiddenFor(t=>t.GuidId)


        <div class="text-center">
            <h3>@_T("Silme işlemini Onaylıyor musunuz?")</h3>

            @if (!String.IsNullOrEmpty(Model.WarningMessage))
            {
                <p>@Model.WarningMessage</p>
            }

            <a href="@Model.RedirectUrlForCancel" class="btn  btn-link btn-sm cancel"><i class="fa fa-times"></i> @_T("Vazgeç").ToString()</a> <button type="submit" class="btn btn-danger "><i class="fa fa-check"></i> @_T("Onayla")</button>

        </div>
    }
</div>


@section script
{
    <script type="text/javascript">
        $(document).ready(function () {

           
        });

    </script>
}
