@using OsosOracle.Framework.HtmlHelpers
@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.MvcUI.Resources
@model OsosOracle.MvcUI.Models.EntSayacOkumaVeriModels.EntSayacOkumaVeriIndexModel

@section panelHeading{

}

@using (Html.BeginPortlet("Sayaç Bilgileri Arama", "Detaylı Arama", "fa fa-search"))
{
    <form id="frmAra" class="form-bordered">
		 <div class="form-group row">
            <div class="col-md-4">
                @Html.AutoComplete(t => t.EntSayacOkumaVeriAra.SayacKayitNo, Enums.AutocompleteFuction.SayacGetir, Enums.AutoCompleteType.List,Dil.Sayac)
               
            </div>
            <div class="col-md-4">

                @Html.DateInput(model => model.EntSayacOkumaVeriAra.OkumaTarihiBaslangic, new {placeholder = Dil.BaslangicTarih })
            </div>
            <div class="col-md-4">
                @Html.DateInput(model => model.EntSayacOkumaVeriAra.OkumaTarihiBitis, new {placeholder = Dil.BitisTarih  })
            </div>


        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-primary btn-sm" id="btnAra"><i class="fa fa-search"></i> @Dil.Bul</button>
        </div>
    </form>
}


<table id="tblENTSAYACDURUMSU" class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            @* <th style="width: 30px">@_T("Id")</th>*@
            <th>@Dil.SayacSeriNo</th>
            <th>@Dil.OKUMATARIH</th>
            <th>@Dil.CEZA1</th>
            <th>@Dil.CEZA2</th>
            <th>@Dil.CEZA3</th>
            <th>@Dil.CEZA4</th>
            <th>@Dil.Magnet</th>
            <th>@Dil.Ariza</th>
            <th>@Dil.VANA</th>
            <th>@Dil.PULSEHATA</th>
            <th>@Dil.ANAPILZAYIF</th>
            <th>@Dil.ANAPILBITTI</th>
            <th>Motor Pil Zayıf</th>
            <th>@Dil.KREDIAZ</th>
            <th>@Dil.KREDIBITTI</th>
            <th>@Dil.RTCHATA</th>
            <th>@Dil.AsiriTuketim</th>
			<th>@Dil.CEZA4 @Dil.Iptal</th>
			<th>@Dil.ARIZAK</th>
			<th>@Dil.ARIZAP</th>
			<th>@Dil.ARIZAPIL</th>
			<th>@Dil.BORC</th>
			<th>@Dil.CAP</th>
			<th>@Dil.BAGLANTISAYISI</th>
			<th>@Dil.KRITIKKREDI</th>
			<th>@Dil.LIMIT1</th>
			<th>@Dil.LIMIT2</th>
			<th>@Dil.LIMIT3</th>
			<th>@Dil.LIMIT4</th>
			<th>@Dil.FIYAT1</th>
			<th>@Dil.FIYAT2</th>
			<th>@Dil.FIYAT3</th>
			<th>@Dil.FIYAT4</th>
			<th>@Dil.FIYAT5</th>
			<th>@Dil.ITERASYON</th>
			<th>@Dil.PILAKIM</th>
			<th>@Dil.PILVOLTAJ</th>
			<th>@Dil.AboneNo</th>
			<th>Abone Tip</th>
			<th>İlk Pulse Tarih</th>
			<th>Son Pulse Tarih</th>
			<th>Borç Tarih</th>
			<th>@Dil.MaxDebi</th>
			<th>MaxDebi Sınır</th>
			<th>@Dil.DonemGun</th>
			<th>Dönem</th>
			<th>@Dil.VANAACMATARIH</th>
			<th>@Dil.VANAKAPAMATARIH</th>
			<th>@Dil.SICAKLIK</th>
			<th>@Dil.MINSICAKLIK</th>
			<th>@Dil.MAXSICAKLIK</th>
			<th>@Dil.YANGINMODU</th>
			<th>@Dil.SONYUKLENENKREDITARIH</th>
			<th>@Dil.SAYACTARIH</th>
			<th>Haftanın Günü</th>
			<th>@Dil.TUKETIM</th>
			<th>@Dil.Tuketim1</th>
			<th>@Dil.Tuketim2</th>
			<th>@Dil.Tuketim3</th>
			<th>@Dil.Tuketim4</th>
			<th>@Dil.HARCANANKREDI</th>
			<th>@Dil.KALANKREDI</th>
        </tr>
    </thead>
</table>
@section script{
    <script type="text/javascript">
	$(document).ready(function () {
		AraFiltered();
		$("#btnAra").click(function(e) {
				e.preventDefault();
				AraFiltered();
		});
	});

	function AraFiltered() {
		$('#tblENTSAYACDURUMSU').dataTable({
			'language': dataTableLanguage,
			'processing': true,
			'serverSide': true,
			'destroy': true,
			'columns': [
				//{'data': "KayitNo"},
				{'data': "SayacId" },
				{'data': "OkumaTarih" },
				{'data': "Ceza1" },
				{'data': "Ceza2" },
				{'data': "Ceza3" },
				{'data': "Ceza4" },
				{'data': "Magnet" },
				{'data': "Ariza" },
				{'data': "Vana" },
				{'data': "PulseHata" },
				{'data': "AnaPilZayif" },
				{'data': "AnaPilBitti" },
				{'data': "MotorPilZayif" },
				{'data': "KrediAz" },
				{'data': "KrediBitti" },
				{'data': "RtcHata" },
				{'data': "AsiriTuketim" },
				{'data': "Ceza4Iptal" },
				{'data': "ArizaK" },
				{'data': "ArizaP" },
				{'data': "ArizaPil" },
				{'data': "Borc" },
				{'data': "Cap" },
				{'data': "BaglantiSayisi" },
				{'data': "KritikKredi" },
				{'data': "Limit1" },
				{'data': "Limit2" },
				{'data': "Limit3" },
				{'data': "Limit4" },
				{'data': "Fiyat1" },
				{'data': "Fiyat2" },
				{'data': "Fiyat3" },
				{'data': "Fiyat4" },
				{'data': "Fiyat5" },
				{'data': "Iterasyon" },
				{'data': "PilAkim" },
				{'data': "PilVoltaj" },
				{'data': "AboneNo" },
				{'data': "AboneTip" },
				{'data': "IlkPulseTarih" },
				{'data': "SonPulseTarih" },
				{'data': "BorcTarih" },
				{'data': "MaxDebi" },
				{'data': "MaxDebiSinir" },
				{'data': "DonemGun" },
				{'data': "Donem" },
				{'data': "VanaAcmaTarih" },
				{'data': "VanaKapamaTarih" },
				{'data': "Sicaklik" },
				{'data': "MinSicaklik" },
				{'data': "MaxSicaklik" },
				{'data': "YanginModu" },
				{'data': "SonYuklenenKrediTarih" },
				{'data': "SayacTarih" },
				{'data': "HaftaninGunu" },
				{'data': "Tuketim" },
				{'data': "Tuketim1" },
				{'data': "Tuketim2" },
				{'data': "Tuketim3" },
				{'data': "Tuketim4" },
				{'data': "HarcananKredi" },
				{'data': "KalanKredi" },


			],
			'ajax': {
				'type': 'POST',
				'data': $("#frmAra").serializeObject(),
				'url': "@Url.Action("DataTablesList", "EntSayacOkumaVeri")",
				'error': function(xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
				'complete': function() { }
		   }

		});
	 }

    </script>
}