
@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.MvcUI.Models.ENTSAYACDURUMSUModels.ENTSAYACDURUMSUKaydetModel

@section panelHeading
{
	
}

<div class="ajaxForm">

	@using (Html.BeginForm("Kaydet", "ENTSAYACDURUMSU", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(t => t.ENTSAYACDURUMSU.KAYITNO)
		@Html.HiddenFor(t => t.ENTSAYACDURUMSU.VERSIYON)
		@Html.ValidationSummary(true)

	         <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.SAYACID, new { @class = "form-control int", placeholder = _T("SAYACID") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.SAYACID)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ACIKLAMA, new { @class = "form-control int", placeholder = _T("ACIKLAMA") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ACIKLAMA)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.DURUM, new { @class = "form-control int", placeholder = _T("DURUM") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.DURUM)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.KREDIBITTI, new { @class = "form-control", placeholder = _T("KREDIBITTI") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.KREDIBITTI)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.KREDIAZ, new { @class = "form-control", placeholder = _T("KREDIAZ") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.KREDIAZ)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ANAPILBITTI, new { @class = "form-control", placeholder = _T("ANAPILBITTI") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ANAPILBITTI)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.PULSEHATA, new { @class = "form-control", placeholder = _T("PULSEHATA") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.PULSEHATA)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.RTCHATA, new { @class = "form-control", placeholder = _T("RTCHATA") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.RTCHATA)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.VANA, new { @class = "form-control", placeholder = _T("VANA") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.VANA)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.CEZA1, new { @class = "form-control", placeholder = _T("CEZA1") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.CEZA1)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.CEZA2, new { @class = "form-control", placeholder = _T("CEZA2") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.CEZA2)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.CEZA3, new { @class = "form-control", placeholder = _T("CEZA3") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.CEZA3)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.CEZA4, new { @class = "form-control", placeholder = _T("CEZA4") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.CEZA4)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.MAGNET, new { @class = "form-control", placeholder = _T("MAGNET") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.MAGNET)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.VERSIYON, new { @class = "form-control int", placeholder = _T("VERSIYON") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.VERSIYON)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.HEADERNO, new { @class = "form-control int", placeholder = _T("HEADERNO") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.HEADERNO)

    </div>

       <div class="form-group">
    @Html.DateInput(t => t.ENTSAYACDURUMSU.OKUMATARIH, new { placeholder =  _T("OKUMATARIH") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.OKUMATARIH)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ARIZA, new { @class = "form-control", placeholder = _T("ARIZA") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ARIZA)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ANAPILZAYIF, new { @class = "form-control", placeholder = _T("ANAPILZAYIF") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ANAPILZAYIF)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.MOTORPILZAYIF, new { @class = "form-control", placeholder = _T("MOTORPILZAYIF") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.MOTORPILZAYIF)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ASIRITUKETIM, new { @class = "form-control", placeholder = _T("ASIRITUKETIM") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ASIRITUKETIM)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.CEZA4IPTAL, new { @class = "form-control", placeholder = _T("CEZA4IPTAL") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.CEZA4IPTAL)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.CAP, new { @class = "form-control int", placeholder = _T("CAP") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.CAP)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.BAGLANTISAYISI, new { @class = "form-control int", placeholder = _T("BAGLANTISAYISI") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.BAGLANTISAYISI)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.LIMIT1, new { @class = "form-control int", placeholder = _T("LIMIT1") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.LIMIT1)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.LIMIT2, new { @class = "form-control int", placeholder = _T("LIMIT2") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.LIMIT2)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.LIMIT3, new { @class = "form-control int", placeholder = _T("LIMIT3") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.LIMIT3)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.LIMIT4, new { @class = "form-control int", placeholder = _T("LIMIT4") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.LIMIT4)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.KRITIKKREDI, new { @class = "form-control int", placeholder = _T("KRITIKKREDI") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.KRITIKKREDI)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.FIYAT1, new { @class = "form-control int", placeholder = _T("FIYAT1") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.FIYAT1)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.FIYAT2, new { @class = "form-control int", placeholder = _T("FIYAT2") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.FIYAT2)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.FIYAT3, new { @class = "form-control int", placeholder = _T("FIYAT3") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.FIYAT3)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.FIYAT4, new { @class = "form-control int", placeholder = _T("FIYAT4") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.FIYAT4)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.FIYAT5, new { @class = "form-control int", placeholder = _T("FIYAT5") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.FIYAT5)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ARIZAA, new { @class = "form-control", placeholder = _T("ARIZAA") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ARIZAA)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ARIZAK, new { @class = "form-control", placeholder = _T("ARIZAK") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ARIZAK)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ARIZAP, new { @class = "form-control", placeholder = _T("ARIZAP") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ARIZAP)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ARIZAPIL, new { @class = "form-control", placeholder = _T("ARIZAPIL") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ARIZAPIL)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.BORC, new { @class = "form-control", placeholder = _T("BORC") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.BORC)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ITERASYON, new { @class = "form-control int", placeholder = _T("ITERASYON") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ITERASYON)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.PILAKIM, new { @class = "form-control int", placeholder = _T("PILAKIM") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.PILAKIM)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.PILVOLTAJ, new { @class = "form-control int", placeholder = _T("PILVOLTAJ") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.PILVOLTAJ)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ABONENO, new { @class = "form-control int", placeholder = _T("ABONENO") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ABONENO)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ABONETIP, new { @class = "form-control int", placeholder = _T("ABONETIP") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ABONETIP)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.ILKPULSETARIH, new { @class = "form-control int", placeholder = _T("ILKPULSETARIH") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.ILKPULSETARIH)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.SONPULSETARIH, new { @class = "form-control int", placeholder = _T("SONPULSETARIH") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.SONPULSETARIH)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.BORCTARIH, new { @class = "form-control int", placeholder = _T("BORCTARIH") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.BORCTARIH)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.MAXDEBI, new { @class = "form-control int", placeholder = _T("MAXDEBI") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.MAXDEBI)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.MAXDEBISINIR, new { @class = "form-control int", placeholder = _T("MAXDEBISINIR") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.MAXDEBISINIR)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.DONEMGUN, new { @class = "form-control int", placeholder = _T("DONEMGUN") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.DONEMGUN)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.DONEM, new { @class = "form-control int", placeholder = _T("DONEM") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.DONEM)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.VANAACMATARIH, new { @class = "form-control int", placeholder = _T("VANAACMATARIH") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.VANAACMATARIH)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.VANAKAPAMATARIH, new { @class = "form-control int", placeholder = _T("VANAKAPAMATARIH") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.VANAKAPAMATARIH)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.SICAKLIK, new { @class = "form-control int", placeholder = _T("SICAKLIK") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.SICAKLIK)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.MINSICAKLIK, new { @class = "form-control int", placeholder = _T("MINSICAKLIK") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.MINSICAKLIK)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.MAXSICAKLIK, new { @class = "form-control int", placeholder = _T("MAXSICAKLIK") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.MAXSICAKLIK)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.YANGINMODU, new { @class = "form-control int", placeholder = _T("YANGINMODU") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.YANGINMODU)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACDURUMSU.SONYUKLENENKREDITARIH, new { @class = "form-control int", placeholder = _T("SONYUKLENENKREDITARIH") })
    @Html.ValidationMessageFor(t => t.ENTSAYACDURUMSU.SONYUKLENENKREDITARIH)

    </div>


	 
		<div class="form-actions">
			<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @_T("Kaydet")</button>
			@Html.ButtonLink(_T("Vazgeç").ToString(), "Index", "btn btn-xs btn-danger cancel", "fa-remove")
		</div>
	}
</div>

@section script
{
	<script type="text/javascript">
		$(document).ready(function () {
		//js kodunuzu buraya yazın	
		});

	</script>
}
