@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.Framework.HtmlHelpers
@using OsosOracle.MvcUI.Resources
@model  OsosOracle.MvcUI.Models.EntIsEmriModels.EntIsEmriIndexModel

    @{
        ViewBag.Title = "Work Order Operation";
    }

    @section panelHeading{
        @Html.ButtonLink(Dil.Ekle, "Ekle", "btn btn-xs btn-success modalizer", "fa-plus", htmlAttributes: new { Id = "btnYeniIsEmriKayit" })
    }




    @using (Html.BeginPortlet(Dil.Ara, Dil.DetayliArama, "fa fa-search"))
    {
        <form id="frmAra" class="form-bordered">
            <div class="form-group row">
                <div class="col-md-4">
                    @Html.AutoComplete(t => t.EntIsEmriAra.SayacKayitNo, Enums.AutocompleteFuction.SayacGetir, Enums.AutoCompleteType.List, Dil.Sayac)
                </div>
                <div class="col-md-4">
                    @Html.AutoComplete(t => t.EntIsEmriAra.IsEmriDurumKayitNo, Enums.AutocompleteFuction.IsEmriDurumGetir, Enums.AutoCompleteType.List, "İş Emri Durumu")
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-primary btn-sm" id="btnAra"><i class="fa fa-search"></i> @Dil.Bul</button>
            </div>
        </form>

    }



    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <table id="tblIsEmrilistesi" class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>@Dil.IslemTarihi</th>
                        <th>@Dil.SayacSeriNo</th>
                        <th>İş Emri @Dil.ModemIslemleri </th>
                        <th>@Dil.Durum </th>
                        <th>@Dil.Cevap</th>
                        <th>@Dil.IslemTarihi</th>
                        <th style="width: 100px">@Dil.Islem</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>





    <script type="text/javascript">
        $(document).ready(function () {
            AraFiltered();

            $("#btnAra").click(function (e) {
                AraFiltered();
            });

            function AraFiltered() {


                $('#tblIsEmrilistesi').dataTable({
                    'language': dataTableLanguage,
                    'processing': true,
                    'serverSide': true,
                    'destroy': true,
                    'columns': [
                        { 'data': "OlusturmaTarih" },
                        { 'data': "SayacSeriNo" },
                        { 'data': "IsEmriAdi" },
                        { 'data': "IsEmriDurum" },
                        { 'data': "Cevap" },
                        { 'data': "GuncellemeTarih" },
                        { 'data': "Islemler", sortable: false }
                    ],
                    'ajax': {
                        'type': 'POST',
                        'data': $("#frmAra").serializeObject(),
                        'url': "@Url.Action("DataTablesList", "EntIsEmri")",
                        'error': function (xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
                        'complete': function () { }
                    }

                });

            }

        });


    </script>
