@using OsosOracle.MvcUI.Resources
@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.MvcUI.Models.ENTSATISModels.Yeni.SatisModel
@{
    ViewBag.Title = Dil.KartIslemleri;
}

<div class="row">
    <button id="btnAboneOku" type="button" class="btn btn-primary">@Dil.AboneOku</button>
    <button id="btnKartBosalt" type="button" class="btn btn-info">@Dil.KartBosalt</button>
    <button id="btnKartTipi" type="button" class="btn btn-warning">@Dil.KartTipi</button>
    @* <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>*@
</div>
<div class="row">

    <br />
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Dil.Su</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.SayacSeriNo, new { @class = "form-control", placeholder = Dil.SayacSeriNo })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.Kredi, new { @class = "form-control", placeholder = Dil.Kredi })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.YedekKredi, new { @class = "form-control", placeholder = Dil.YedekKredi })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.Kalan, new { @class = "form-control", placeholder = Dil.Su + ' ' + Dil.KALANKREDI })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.Harcanan, new { @class = "form-control", placeholder = Dil.Su + ' ' + Dil.HARCANANKREDI })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.AkoMesaj, new { @class = "form-control", placeholder = _T("Su Ana Kredi Okundu Bilgisi") })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.YkoMesaj, new { @class = "form-control", placeholder = _T("Su Yedek Kredi Okundu Bilgisi") })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Dil.Kalorimetre</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.CihazNo, new { @class = "form-control", placeholder = Dil.SayacSeriNo })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.Kalan, new { @class = "form-control", placeholder = Dil.Kalorimetre + ' ' + Dil.KALANKREDI })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.Harcanan, new { @class = "form-control", placeholder = Dil.Kalorimetre + ' ' + Dil.HARCANANKREDI })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.Kredi, new { @class = "form-control", placeholder = Dil.Kalorimetre + ' ' + Dil.Kredi })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.AkoMesaj, new { @class = "form-control", placeholder = _T("Kalorimetre Bilgisi") })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var SatisModel =@Html.Raw(Json.Encode(Model));
        var namespace="SmartCard.OrtakAvm";
        var okunanData = "";

        $("#btnKartTipi").click(function (e) {
            KartTipi();
        });

        $("#btnKartBosalt").click(function (e) {
            AboneBosalt();
        });
        $("#btnAboneOku").click(function (e) {
            AboneOku();
        });
        $("#btnAboneYap").click(function (e) {
            AboneYap();
        });

        function KartTipi() {
            try
            {

                var kart = new ActiveXObject(namespace);
                var kartTip = kart.KartTipi();
            if(kartTip=="Subscriber Card")
            {
            kartTip="Abone Kartı";
            }else if(kartTip=="Empty Card")
            {
            kartTip="Boş kart";
            }
                ajaxMesajGoster(kartTip);

            }
            catch(ex)
            {
                ajaxMesajGoster(ex, 'Hata');
            }

        }

        function AboneBosalt() {
            try {

            var su = new ActiveXObject("SmartCard.OrtakAvm");
            var kartTip = su.KartTipi();

            if (kartTip == "Abone Karti" || kartTip == "Abone Kartı" || kartTip == "CBA " || kartTip == "Subscriber Card") {
                var result = su.AboneBosalt();
                if (result === "1") {
                    ajaxMesajGoster('İşlem Başarılı');
                } else {
                    ajaxMesajGoster('İşlem Başarısız', 'Hata');
                }
                return;
            } else if (kartTip == "Bos Kart") {
                ajaxMesajGoster('Kart Boş');
            }

            }
            catch (ex) {
                ajaxMesajGoster(ex, 'Hata');
            }

        }

        function AboneOku() {
            try {
                 blockUI();
                //var kart = new ActiveXObject(namespace);
                //okunanData = kart.AboneOku();
                SatisModel.HamData = okunanData;
                var model = JSON.stringify(SatisModel)
                var request = $.ajax({
                       url: "@Url.Action("SatisPars", "Kart")",
                       method: "POST",
                       async: true,
                       dataType: "json",
                       contentType: "application/json",
                       data: model

                   });

                   request.done(function (jqXHR) {
                       unblockUI();

                       SatisModel = jqXHR;
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.SayacSeriNo)").val(jqXHR.SuSatisModel.SogukSuOkunan.SayacSeriNo).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.Kredi)").val(jqXHR.SuSatisModel.SogukSuOkunan.Kredi).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.YedekKredi)").val(jqXHR.SuSatisModel.SogukSuOkunan.YedekKredi).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.Kalan)").val(jqXHR.SuSatisModel.SogukSuOkunan.Kalan).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.Harcanan)").val(jqXHR.SuSatisModel.SogukSuOkunan.Harcanan).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.AkoMesaj)").val(jqXHR.SuSatisModel.SogukSuOkunan.AkoMesaj).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.YkoMesaj)").val(jqXHR.SuSatisModel.SogukSuOkunan.YkoMesaj).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.CihazNo)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.CihazNo).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.Kredi)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.Kredi).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.YedekKredi)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.YedekKredi).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.AkoMesaj)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.AkoMesaj).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.Kalan)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.Kalan).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.Harcanan)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.Harcanan).blur();

                   });
                   request.fail(function (jqXHR, textStatus) {
                       unblockUI();
                       var msg = jQuery.parseJSON(jqXHR.responseText);
                       ajaxMesajGoster(msg.Mesaj);
                   });

            }
            catch (ex) {
                ajaxMesajGoster(ex, 'Hata');
            }
             unblockUI();
        }


        function AboneYap() {

            try {

                var cihazNo = $('#txtCihazNo').val();
                var kartNo = $('#txtKartNo').val();
                var limit1 = $('#txtLimit1').val();
                var limit2 = $('#txtLimit2').val();
                var fiyat1 = $('#txtFiyat1').val();
                var fiyat2 = $('#txtFiyat2').val();
                var fiyat3 = $('#txtFiyat3').val();
                var efiyat1 = $('#txteFiyat1').val();
                var efiyat2 = $('#txteFiyat2').val();
                var efiyat3 = $('#txteFiyat3').val();
                var efiyat4 = $('#txteFiyat4').val();

                var kart = new ActiveXObject(namespace);
                var kartTip = kart.AboneYap(cihazNo,kartNo,limit1,limit2,fiyat1,fiyat2,fiyat3,efiyat1,efiyat2,efiyat3,efiyat4);

                ajaxMesajGoster(kartTip);

            }
            catch (ex) {
                ajaxMesajGoster(ex, 'Hata');
            }

        }


    });


</script>
