
@using OsosOracle.Framework.HtmlHelpers
@using OsosOracle.MvcUI.Infrastructure
@model OsosOracle.MvcUI.Models.SYSROLModels.SYSROLIndexModel

@section panelHeading{
    @Html.ButtonLink(_T("Yeni Rol").ToString(), "Ekle", "btn btn-xs btn-success modalizer", "fa-plus")
}

@using (Html.BeginPortlet("Rol Arama", "Detaylı Arama", "fa fa-search"))
{
    <form id="frmAra" class="form-bordered">

        <div class="form-group row">
            <div class="col-md-6">
                @Html.AutoComplete(t => t.SYSROLAra.KURUMKAYITNO, Enums.AutocompleteFuction.KurumGetir, Enums.AutoCompleteType.List, _T("Kurum").ToString())
            </div>
            <div class="col-md-6">
                @Html.AutoComplete(t => t.SYSROLAra.KAYITNO, Enums.AutocompleteFuction.RolGetir, Enums.AutoCompleteType.List, _T("Rol").ToString())
            </div>
           
        </div>  
        <div class="form-actions">
            <button type="button" class="btn btn-primary btn-sm" id="btnAra"><i class="fa fa-search"></i> @_T("Bul")</button>
        </div>
    </form>
}


<table id="tblSYSROL" class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th style="width: 30px">@_T("Id")</th>
            <th>@_T("Rol")</th>
            <th>@_T("Açıklama")</th>
            <th>@_T("Kurum")</th>

            <th style="width: 100px">@_T("İşlemler")</th>
        </tr>
    </thead>
</table>
@section script{
    <script type="text/javascript">
	$(document).ready(function () {
		AraFiltered();
		$("#btnAra").click(function(e) {
				e.preventDefault();
				AraFiltered();
		});
	});

	function AraFiltered() {
		$('#tblSYSROL').dataTable({
			'language': dataTableLanguage,
			'processing': true,
			'serverSide': true,
			'destroy': true,
			'columns': [
				{'data': "KAYITNO"},
				{'data': "AD"},
				{'data': "ACIKLAMA"},
				{'data': "Kurum"},

				{'data': "Islemler", sortable: false}
			],
			'ajax': {
				'type': 'POST',
				'data': $("#frmAra").serializeObject(),
				'url': "@Url.Action("DataTablesList", "SYSROL")",
				'error': function(xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
				'complete': function() { }
		   }

		});
	 }

    </script>
}