
@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.MvcUI.Models.SYSROLModels.SYSROLKaydetModel

@section panelHeading
{
	
}

<div class="ajaxForm">

	@using (Html.BeginForm("Kaydet", "SYSROL", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(t => t.SYSROL.KAYITNO)
		@Html.HiddenFor(t => t.SYSROL.VERSIYON)
		@Html.ValidationSummary(true)

	         <div class="form-group">
    @Html.TextBoxFor(t => t.SYSROL.AD, new { @class = "form-control int", placeholder = _T("AD") })
    @Html.ValidationMessageFor(t => t.SYSROL.AD)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.SYSROL.ACIKLAMA, new { @class = "form-control int", placeholder = _T("ACIKLAMA") })
    @Html.ValidationMessageFor(t => t.SYSROL.ACIKLAMA)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.SYSROL.VERSIYON, new { @class = "form-control int", placeholder = _T("VERSIYON") })
    @Html.ValidationMessageFor(t => t.SYSROL.VERSIYON)

    </div>

       <div class="form-group">
    @Html.TextBoxFor(t => t.SYSROL.KURUMKAYITNO, new { @class = "form-control int", placeholder = _T("KURUMKAYITNO") })
    @Html.ValidationMessageFor(t => t.SYSROL.KURUMKAYITNO)

    </div>


	 
		<div class="form-actions">
			<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @_T("Kaydet")</button>
			@Html.ButtonLink(_T("Vazgeç").ToString(), "Index", "btn btn-xs btn-danger cancel", "fa-remove")
		</div>
	}
</div>

@section script
{
	<script type="text/javascript">
		$(document).ready(function () {
		//js kodunuzu buraya yazın	
		});

	</script>
}
