

@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.MvcUI.Models.PRMTARIFEORTAKAVMModels.PRMTARIFEORTAKAVMDetayModel

@section panelHeading{
	@Html.ButtonLink(_T("Listeye Dön").ToString(), "Index", "btn btn-xs btn-info", "fa-reply")
	@Html.ButtonLink(_T("Sil").ToString(), "Sil", "btn btn-xs btn-danger modalizer", "fa-trash", new { id = Model.PRMTARIFEORTAKAVMDetay.Id })
	@Html.ButtonLink(_T("Düzenle").ToString(), "Guncelle","btn btn-xs btn-primary modalizer", "fa-edit", new { id = Model.PRMTARIFEORTAKAVMDetay.Id })

}

<div class="ajaxForm">

	  
	<div class="row static-info">
		<div class="col-md-5 name">@_T("AD")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.AD</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("YEDEKKREDI")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.YEDEKKREDI</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("ACIKLAMA")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.ACIKLAMA</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("DURUM")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.DURUM</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("FIYAT1")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.FIYAT1</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("FIYAT2")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.FIYAT2</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("FIYAT3")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.FIYAT3</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("FIYAT4")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.FIYAT4</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("LIMIT1")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.LIMIT1</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("LIMIT2")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.LIMIT2</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("CARPAN")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.CARPAN</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("SAYACCAP")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.SAYACCAP</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("SAYACTARIH")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.SAYACTARIH</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("SAYACTIP")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.SAYACTIP</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("TUKETIMKATSAYI")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.TUKETIMKATSAYI</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("KREDIKATSAYI")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.KREDIKATSAYI</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("BAYRAM1GUN")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.BAYRAM1GUN</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("BAYRAM1AY")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.BAYRAM1AY</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("BAYRAM1SURE")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.BAYRAM1SURE</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("BAYRAM2GUN")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.BAYRAM2GUN</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("BAYRAM2AY")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.BAYRAM2AY</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("BAYRAM2SURE")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.BAYRAM2SURE</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("KURUMKAYITNO")</div>
		<div class="col-md-7 value">@Model.PRMTARIFEORTAKAVMDetay.KURUMKAYITNO</div>
	 </div>


	 
	@Html.ButtonLink(_T("Vazgeç").ToString(), "Index", "btn btn-xs btn-danger cancel", "fa-remove")
</div>

@section script
{
	<script type="text/javascript">
		$(document).ready(function () {
		//js kodunuzu buraya yazın	
		});

	</script>
}
