
@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.MvcUI.Models.PRMTARIFEORTAKAVMModels.PRMTARIFEORTAKAVMKaydetModel

@section panelHeading
{

}

<div class="ajaxForm">

    @using (Html.BeginForm("Kaydet", "PRMTARIFEORTAKAVM", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(t => t.PRMTARIFEORTAKAVM.KAYITNO)
        @Html.HiddenFor(t => t.PRMTARIFEORTAKAVM.VERSIYON)
        @Html.ValidationSummary(true)


        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.AD, new { @class = "form-control", placeholder = _T("Tarife Adı") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.AD)
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.ACIKLAMA, new { @class = "form-control", placeholder = _T("Açıklama") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.ACIKLAMA)

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.YEDEKKREDI, new { @class = "form-control int", placeholder = _T("Yedek Kredi") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.YEDEKKREDI)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.CARPAN, new { @class = "form-control int", placeholder = _T("Çarpan") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.CARPAN)

            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.SAYACCAP, new { @class = "form-control int", placeholder = _T("Çap") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.SAYACCAP)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.SAYACTIP, new { @class = "form-control int", placeholder = _T("Sayaç Tip") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.SAYACTIP)
            </div>


        </div>



        <div class="form-group row">
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.FIYAT1, new { @class = "form-control int", placeholder = _T("Fiyat 1") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.FIYAT1)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.FIYAT2, new { @class = "form-control int", placeholder = _T("Fiayat 2") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.FIYAT2)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.FIYAT3, new { @class = "form-control int", placeholder = _T("Fiyat 3") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.FIYAT3)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.FIYAT4, new { @class = "form-control int", placeholder = _T("Fiyat 4") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.FIYAT4)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.LIMIT1, new { @class = "form-control int", placeholder = _T("Limit 1") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.LIMIT1)
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.LIMIT2, new { @class = "form-control int", placeholder = _T("Limit 2") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.LIMIT2)

            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.TUKETIMKATSAYI, new { @class = "form-control int", placeholder = _T("Tüketim Katsayı") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.TUKETIMKATSAYI)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.KREDIKATSAYI, new { @class = "form-control int", placeholder = _T("Kredi Katsayı") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.KREDIKATSAYI)

            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.AylikBakimBedeli, new { @class = "form-control int", placeholder = _T("Aylık Bakım Bedeli") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.AylikBakimBedeli)
            </div>


        </div>
        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.BAYRAM1GUN, new { @class = "form-control int", placeholder = _T("Bayram 1 Gün") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.BAYRAM1GUN)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.BAYRAM1AY, new { @class = "form-control int", placeholder = _T("Bayram 1 Ay") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.BAYRAM1AY)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.BAYRAM1SURE, new { @class = "form-control int", placeholder = _T("Bayram 1 Süre") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.BAYRAM1SURE)
            </div>


        </div>

        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.BAYRAM2GUN, new { @class = "form-control int", placeholder = _T("Bayram 2 Gün") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.BAYRAM2GUN)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.BAYRAM2AY, new { @class = "form-control int", placeholder = _T("Bayram 2 Ay") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.BAYRAM2AY)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.BAYRAM2SURE, new { @class = "form-control int", placeholder = _T("Bayram 2 Süre") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.BAYRAM2SURE)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.DURUM, new { @class = "form-control int", placeholder = _T("Durum") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.DURUM)
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEORTAKAVM.SAYACTARIH, new { @class = "form-control", placeholder = _T("Sayaç Tarih") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.SAYACTARIH)
            </div>
        </div>
        @*<div class="form-group">
                @Html.AutoComplete(t => t.PRMTARIFEORTAKAVM.KURUMKAYITNO, Enums.AutocompleteFuction.PRMTARIFEORTAKAVMKURUMKAYITNOGetir, Enums.AutoCompleteType.List, _T("KURUMKAYITNO").ToString())
                @Html.ValidationMessageFor(t => t.PRMTARIFEORTAKAVM.KURUMKAYITNO)

            </div>*@



        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @_T("Kaydet")</button>
            @Html.ButtonLink(_T("Vazgeç").ToString(), "Index", "btn btn-xs btn-danger cancel", "fa-remove")
        </div>
    }
</div>

@section script
{
    <script type="text/javascript">
        $(document).ready(function () {
            //js kodunuzu buraya yazın
        });

    </script>
}
