@using OsosOracle.MvcUI.Resources
@using OsosOracle.Framework.HtmlHelpers
@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.Entities.Enums
@model OsosOracle.MvcUI.Models.ENTSATISModels.Yeni.SatisModel

@Html.HiddenFor(t => t.SuSatisModel.Satis.ODEME)
@Html.HiddenFor(t => t.SuSatisModel.Satis.OdemeTipiKayitNo)
<div class="">
    <button id="btnKartOku" type="button" class="btn btn-danger btn-sm">@Dil.KartOku </button>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Dil.AboneBilgileri</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.AboneSayacDetay.AboneAdSoyad, new { @class = "form-control", placeholder = Dil.Ad + ' ' + Dil.Soyad })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.AboneSayacDetay.AboneNo, new { @class = "form-control", placeholder = Dil.AboneNo })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.AboneSayacDetay.SuTarifeAdi, new { @class = "form-control", placeholder = Dil.Su + ' ' + Dil.Tarife })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.AboneSayacDetay.KapakSeriNo, new { @class = "form-control", placeholder = Dil.KapakSeriNo })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.Kredi, new { @class = "form-control", placeholder = Dil.Kredi })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.YedekKredi, new { @class = "form-control", placeholder = Dil.YedekKredi })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.Kalan, new { @class = "form-control", placeholder = Dil.Su + ' ' + Dil.KALANKREDI })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.Harcanan, new { @class = "form-control", placeholder = Dil.Su + ' ' + Dil.HARCANANKREDI })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.AkoMesaj, new { @class = "form-control", placeholder = _T("Su Ana Kredi Okundu Bilgisi") })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.SuSatisModel.SogukSuOkunan.YkoMesaj, new { @class = "form-control", placeholder = _T("Su Yedek Kredi Okundu Bilgisi") })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextBoxFor(t => t.KalorimetreSatisModel.AboneSayacDetay.KalorimetreTarifeAdi, new { @class = "form-control", placeholder = Dil.Kalorimetre + ' ' + Dil.Tarife })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.Kredi, new { @class = "form-control", placeholder = Dil.Kalorimetre + ' ' + Dil.Kredi })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.AkoMesaj, new { @class = "form-control", placeholder = _T("Kalorimetre Bilgisi") })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(t => t.SuSatisModel.AboneSayacDetay.SonSatisTarihiStr, new { @class = "form-control", placeholder = Dil.SonSatisTarihi })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 su">
        <div class="panel panel-default">
            <div class="panel-heading">Su Sayacı</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder=@Dil.Tutar id="txtSuTutar" />
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(t => t.SuSatisModel.Satis.KREDI, new { @class = "form-control", placeholder = Dil.Kredi })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                @Html.AutoComplete(t => t.SuSatisModel.Satis.OdemeTipiKayitNo, Enums.AutocompleteFuction.OdemeTipiGetir, Enums.AutoCompleteType.List, "Ödeme Tipi")
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(t => t.SuSatisModel.Satis.YEDEKKREDI, new { @class = "form-control", placeholder = Dil.YedekKredi })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(t => t.SuSatisModel.Satis.ToplamKredi, new { @class = "form-control", placeholder = Dil.AnaKredi })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(t => t.SuSatisModel.Satis.AylikBakimBedeli, new { @class = "form-control", placeholder = Dil.AylikBakimBedeli })
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-md-6"></div>
    <div class="col-md-6 kalorimetre">
        <div class="panel panel-default">
            <div class="panel-heading">Kalorimetre Sayacı</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder=@Dil.Tutar id="txtKalorimetreTutar" />
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(t => t.KalorimetreSatisModel.Satis.KREDI, new { @class = "form-control", placeholder = Dil.Kredi })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                @Html.AutoComplete(t => t.KalorimetreSatisModel.Satis.OdemeTipiKayitNo, Enums.AutocompleteFuction.OdemeTipiGetir, Enums.AutoCompleteType.List, "Ödeme Tipi")
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(t => t.KalorimetreSatisModel.Satis.ToplamKredi, new { @class = "form-control", placeholder = Dil.ToplamKredi })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(t => t.KalorimetreSatisModel.Satis.AylikBakimBedeli, new { @class = "form-control", placeholder = Dil.AylikBakimBedeli })
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
       
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
         <button type="submit" class="btn btn-danger btn-sm pull-right" name="submitButton" id="btnKrediYukle">
            @Dil.KrediYukle
        </button>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        var SatisModel=@Html.Raw(Json.Encode(Model));
        var okunanData = "";
        $("#btnKartOku").click(function (e) {
                        blockUI();
            try {
                //var aboneIslem = new ActiveXObject("SmartCard.OrtakAvm");
                //okunanData = aboneIslem.AboneOku();
                SatisModel.HamData = okunanData;
                var model = JSON.stringify(SatisModel)
                var request = $.ajax({
                       url: "@Url.Action("SatisPars", "EntSatis")",
                       method: "POST",
                       async: true,
                       dataType: "json",
                       contentType: "application/json",
                       data: model

                   });

                   request.done(function (jqXHR) {
                       unblockUI();

                       SatisModel = jqXHR;
                       if (jqXHR.SuSatisModel.AboneSayacDetay != null) {
                           $(".su").show();
                       } else {
                             $(".su").hide();
                       }
                       if (jqXHR.KalorimetreSatisModel.AboneSayacDetay != null) {
                           $(".kalorimetre").show();
                       } else {
                             $(".kalorimetre").hide();
                       }
                       //Abone Bilgileri Doldur
                       $("#@Html.IdFor(t => t.SuSatisModel.AboneSayacDetay.AboneAdSoyad)").val(jqXHR.SuSatisModel.AboneSayacDetay.AboneAdSoyad).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.AboneSayacDetay.AboneNo)").val(jqXHR.SuSatisModel.AboneSayacDetay.AboneNo).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.AboneSayacDetay.SuTarifeAdi)").val(jqXHR.SuSatisModel.AboneSayacDetay.SuTarifeAdi).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.AboneSayacDetay.KapakSeriNo)").val(jqXHR.SuSatisModel.AboneSayacDetay.KapakSeriNo).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.Kredi)").val(jqXHR.SuSatisModel.SogukSuOkunan.Kredi).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.YedekKredi)").val(jqXHR.SuSatisModel.SogukSuOkunan.YedekKredi).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.Kalan)").val(jqXHR.SuSatisModel.SogukSuOkunan.Kalan).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.Harcanan)").val(jqXHR.SuSatisModel.SogukSuOkunan.Harcanan).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.AkoMesaj)").val(jqXHR.SuSatisModel.SogukSuOkunan.AkoMesaj).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.SogukSuOkunan.YkoMesaj)").val(jqXHR.SuSatisModel.SogukSuOkunan.YkoMesaj).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.AboneSayacDetay.KalorimetreTarifeAdi)").val(jqXHR.KalorimetreSatisModel.AboneSayacDetay.KalorimetreTarifeAdi).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.Kredi)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.Kredi).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.YedekKredi)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.YedekKredi).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.KalorimetreOkunan.AkoMesaj)").val(jqXHR.KalorimetreSatisModel.KalorimetreOkunan.AkoMesaj).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.AboneSayacDetay.SonSatisTarihiStr)").val(jqXHR.SuSatisModel.AboneSayacDetay.SonSatisTarihiStr).blur();



                   });
                   request.fail(function (jqXHR, textStatus) {
                       unblockUI();
                       var msg = jQuery.parseJSON(jqXHR.responseText);
                       ajaxMesajGoster(msg.Mesaj);
                   });


                unblockUI();

            } catch (e) {
                unblockUI();
                ajaxMesajGoster(e);
            }



        });



          $("#txtSuTutar").blur(function () {
            blockUI();
              SatisModel.HamData = okunanData;
              SatisModel.SuSatisModel.Satis.ODEME = parseInt($("#txtSuTutar").val());

              var model=JSON.stringify(SatisModel)
                var request = $.ajax({
                       url: "@Url.Action("SuHesapla", "EntSatis")",
                       method: "POST",
                       async: true,
                       dataType: "json",
                       contentType: "application/json",
                       data: model

                   });

                   request.done(function (jqXHR) {
                       unblockUI();
                       SatisModel = jqXHR;
                       $("#@Html.IdFor(t => t.SuSatisModel.Satis.KREDI)").val(jqXHR.SuSatisModel.Satis.KREDI).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.Satis.YEDEKKREDI)").val(jqXHR.SuSatisModel.Satis.YEDEKKREDI).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.Satis.ToplamKredi)").val(jqXHR.SuSatisModel.Satis.ToplamKredi).blur();
                       $("#@Html.IdFor(t => t.SuSatisModel.Satis.AylikBakimBedeli)").val(jqXHR.SuSatisModel.Satis.AylikBakimBedeli).blur();
                       //$("#txtSuKredi").val(jqXHR.SuSatisModel.Satis.KREDI);
                       //$("#txtSuToplamKredi").val(jqXHR.SuSatisModel.Satis.ToplamKredi);
                       //$("#txtSuYedekKredi").val(jqXHR.SuSatisModel.Satis.YEDEKKREDI);
                       //$("#txtSuAylikBakimBedeli").val(jqXHR.SuSatisModel.Satis.AylikBakimBedeli);

                   });
                   request.fail(function (jqXHR, textStatus) {
                       unblockUI();
                       var msg = jQuery.parseJSON(jqXHR.responseText);
                       ajaxMesajGoster(msg.Mesaj);
                   });


        });

                $('#txtKalorimetreTutar').blur(function () {

                  SatisModel.HamData = okunanData;
                  SatisModel.KalorimetreSatisModel.Satis.ODEME = parseInt($("#txtKalorimetreTutar").val());

                  var model=JSON.stringify(SatisModel)
                  var request = $.ajax({
                       url: "@Url.Action("KalorimetreHesapla", "EntSatis")",
                       method: "POST",
                       async: true,
                       dataType: "json",
                       contentType: "application/json",
                       data: model

                   });

                   request.done(function (jqXHR) {

                       SatisModel = jqXHR;
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.Satis.KREDI)").val(jqXHR.KalorimetreSatisModel.Satis.KREDI).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.Satis.ToplamKredi)").val(jqXHR.KalorimetreSatisModel.Satis.ToplamKredi).blur();
                       $("#@Html.IdFor(t => t.KalorimetreSatisModel.Satis.AylikBakimBedeli)").val(jqXHR.KalorimetreSatisModel.Satis.AylikBakimBedeli).blur();
                       //$("#txtKalorimetreKredi").val(jqXHR.KalorimetreSatisModel.Satis.KREDI);
                       //$("#txtKalorimetreToplamKredi").val(jqXHR.KalorimetreSatisModel.Satis.ToplamKredi);
                       //$("#txtKalorimetreYedekKredi").val(jqXHR.KalorimetreSatisModel.Satis.YEDEKKREDI);
                       //$("#txtKalorimetreAylikBakimBedeli").val(jqXHR.KalorimetreSatisModel.Satis.AylikBakimBedeli);
                   });
                   request.fail(function (jqXHR, textStatus) {
                       unblockUI();
                       var msg = jQuery.parseJSON(jqXHR.responseText);
                       ajaxMesajGoster(msg.Mesaj);
                   });


                });

        $("#btnKrediYukle").click(function (e) {
             blockUI();
            var result = "1";
            if (SatisModel.SuSatisModel.Satis.ODEME > 0) {
                SatisModel.SuSatisModel.Satis.SatisTipi = @enumSatisTipi.Satis.GetHashCode();//Satış
                SatisModel.SuSatisModel.Satis.OdemeTipiKayitNo = $("#@Html.IdFor(t => t.SuSatisModel.Satis.OdemeTipiKayitNo)").val();
                result=   SuKrediYukle(SatisModel.SuSatisModel);
            }
            if (SatisModel.KalorimetreSatisModel.Satis.ODEME > 0) {
                SatisModel.KalorimetreSatisModel.Satis.SatisTipi = @enumSatisTipi.Satis.GetHashCode();//Satış
                SatisModel.KalorimetreSatisModel.Satis.OdemeTipiKayitNo = $("#@Html.IdFor(t => t.KalorimetreSatisModel.Satis.OdemeTipiKayitNo)").val();
               result=    KalorimetreKrediYukle(SatisModel.KalorimetreSatisModel);
            }
            if (result == "1") {

                var model = JSON.stringify(SatisModel)
                var request = $.ajax({
                    url: "@Url.Action("SatisYap", "EntSatis")",
                    method: "POST",
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: model

                });

                request.done(function (jqXHR) {
                    unblockUI();


                    var url = '@Url.Action("MakbuzIndir","Satis")' + '?filename=' + jqXHR;
                    window.location.href = url;
                    ajaxMesajGoster('@Dil.Basarili');
                    setTimeout(function () { location.reload(); }, 3000);


                });
                request.fail(function (jqXHR, textStatus) {
                    unblockUI();
                    var msg = jQuery.parseJSON(jqXHR.responseText);
                    ajaxMesajGoster(msg.Mesaj);
                });

            } else {
                 ajaxMesajGoster("Bir hata oluştu");
            }

        });

        function SuKrediYukle(SuSatisModel) {
            return "1";
                    var sogukSu = new ActiveXObject("SmartCard.OrtakAvm");
                    result = sogukSu.AboneYazSu(SuSatisModel.SogukSuOkunan.SayacSeriNo,
                                SuSatisModel.Satis.ToplamKredi,
                                SuSatisModel.PrmTarifeSuDetay.YEDEKKREDI,  //SuSatisModel.Satis.YEDEKKREDI,
                                SuSatisModel.PrmTarifeSuDetay.LIMIT1,
                                SuSatisModel.PrmTarifeSuDetay.LIMIT2,
                                SuSatisModel.PrmTarifeSuDetay.FIYAT1,
                                SuSatisModel.PrmTarifeSuDetay.FIYAT2,
                                SuSatisModel.PrmTarifeSuDetay.FIYAT3
                            );
                             return result;
                 }

                function KalorimetreKrediYukle(KalorimetreSatisModel) {
                    return "1";
                    var kalorimetre = new ActiveXObject("SmartCard.OrtakAvm");

                    result = kalorimetre.KalorimetreYaz(KalorimetreSatisModel.KalorimetreOkunan.CihazNo,//SAyacserino getirilecek
                        KalorimetreSatisModel.Satis.ToplamKredi,
                        KalorimetreSatisModel.PrmTarifeKALORIMETREDetay.RezervKredi,
                        KalorimetreSatisModel.PrmTarifeKALORIMETREDetay.BAYRAM1GUN,
                        KalorimetreSatisModel.PrmTarifeKALORIMETREDetay.BAYRAM1AY,
                        KalorimetreSatisModel.PrmTarifeKALORIMETREDetay.BAYRAM1SURE,
                        KalorimetreSatisModel.PrmTarifeKALORIMETREDetay.BAYRAM2GUN,
                        KalorimetreSatisModel.PrmTarifeKALORIMETREDetay.BAYRAM2AY,
                        KalorimetreSatisModel.PrmTarifeKALORIMETREDetay.BAYRAM2SURE
                        );
                        return result;


             }

    });
</script>
