
@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.MvcUI.Models.PRMTARIFEKALORIMETREModels.PRMTARIFEKALORIMETREKaydetModel

@section panelHeading
{

}

<div class="ajaxForm">

    @using (Html.BeginForm("Kaydet", "PRMTARIFEKALORIMETRE", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(t => t.PRMTARIFEKALORIMETRE.KAYITNO)
        @Html.HiddenFor(t=>t.PRMTARIFEKALORIMETRE.OLUSTURAN)
        @Html.HiddenFor(t => t.PRMTARIFEKALORIMETRE.VERSIYON)
        @Html.ValidationSummary(true)


        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.AD, new { @class = "form-control", placeholder = _T("Tarife Adı") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.AD)
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.ACIKLAMA, new { @class = "form-control", placeholder = _T("Açıklama") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.ACIKLAMA)

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.YEDEKKREDI, new { @class = "form-control int", placeholder = _T("Yedek Kredi") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.YEDEKKREDI)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.Kdv, new { @class = "form-control ", placeholder = _T("Kdv") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.Kdv)

            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.Ctv, new { @class = "form-control", placeholder = _T("Çtv") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.Ctv)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.SAYACTIP, new { @class = "form-control int", placeholder = _T("Sayaç Tip") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.SAYACTIP)
            </div>


        </div>



        <div class="form-group row">
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.FIYAT1, new { @class = "form-control int", placeholder = _T("Fiyat 1") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.FIYAT1)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.FIYAT2, new { @class = "form-control int", placeholder = _T("Fiayat 2") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.FIYAT2)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.FIYAT3, new { @class = "form-control int", placeholder = _T("Fiyat 3") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.FIYAT3)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.FIYAT4, new { @class = "form-control int", placeholder = _T("Fiyat 4") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.FIYAT4)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.LIMIT1, new { @class = "form-control int", placeholder = _T("Limit 1") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.LIMIT1)
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.LIMIT2, new { @class = "form-control int", placeholder = _T("Limit 2") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.LIMIT2)

            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.TUKETIMKATSAYI, new { @class = "form-control int", placeholder = _T("Tüketim Katsayı") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.TUKETIMKATSAYI)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.KREDIKATSAYI, new { @class = "form-control int", placeholder = _T("Kredi Katsayı") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.KREDIKATSAYI)

            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.AylikBakimBedeli, new { @class = "form-control", placeholder = _T("Aylık Bakım Bedeli") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.AylikBakimBedeli)
            </div>


        </div>
        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM1GUN, new { @class = "form-control int", placeholder = _T("Bayram 1 Gün") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM1GUN)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM1AY, new { @class = "form-control int", placeholder = _T("Bayram 1 Ay") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM1AY)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM1SURE, new { @class = "form-control int", placeholder = _T("Bayram 1 Süre") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM1SURE)
            </div>


        </div>

        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM2GUN, new { @class = "form-control int", placeholder = _T("Bayram 2 Gün") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM2GUN)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM2AY, new { @class = "form-control int", placeholder = _T("Bayram 2 Ay") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM2AY)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM2SURE, new { @class = "form-control int", placeholder = _T("Bayram 2 Süre") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.BAYRAM2SURE)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.DURUM, new { @class = "form-control int", placeholder = _T("Durum") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.DURUM)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.BirimFiyat, new { @class = "form-control", placeholder = _T("Birim Fiyat") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.BirimFiyat)
            </div>
             <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEKALORIMETRE.RezervKredi, new { @class = "form-control int", placeholder = _T("Rezerv Kredi") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEKALORIMETRE.RezervKredi)
            </div>
        </div>
       
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @_T("Kaydet")</button>
            @Html.ButtonLink(_T("Vazgeç").ToString(), "Index", "btn btn-xs btn-danger cancel", "fa-remove")
        </div>
    }
</div>

@section script
{
    <script type="text/javascript">
        $(document).ready(function () {
            //js kodunuzu buraya yazın
        });

    </script>
}
