@using OsosOracle.Framework.HtmlHelpers
@using OsosOracle.MvcUI.Infrastructure
@using OsosOracle.MvcUI.Resources
@model  OsosOracle.MvcUI.Models.ENTSATISModels.ENTSATISIndexModel
@{
    ViewBag.Title = Dil.SatisIslemleri;
}


@using (Html.BeginPortlet(Dil.SayacAra, Dil.DetayliArama, "fa fa-search"))
{
    <form id="frmAra" class="form-bordered">
        <div class="form-group row">
            <div class="col-md-4">
                @Html.AutoComplete(t => t.ENTSATISAra.SatisTipi, Enums.AutocompleteFuction.SatisTipiGetir, Enums.AutoCompleteType.List,Dil.SatisTipi)
            </div>
            <div class="col-md-4">
                @Html.AutoComplete(t => t.ENTSATISAra.ABONEKAYITNO, Enums.AutocompleteFuction.AboneGetir, Enums.AutoCompleteType.List, Dil.Abone)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t=>t.ENTSATISAra.Blok, new { @class = "form-control", placeholder = _T("Blok") })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                @Html.DateInput(t => t.ENTSATISAra.SatisTarihBaslangic, new { placeholder = Dil.BaslangicTarih })
            </div>
            <div class="col-md-6">
                @Html.DateInput(t => t.ENTSATISAra.SatisTarihBitis, new { placeholder = Dil.BitisTarih })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label>@Html.CheckBoxFor(t => t.ENTSATISAra.AylikBakimBedeliOlanSatislariGetir) @_T("Aylık Bakım Bedeli Olan Satışlar")</label>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-primary btn-sm" id="btnAra"><i class="fa fa-search"></i> @Dil.Bul</button>
        </div>
    </form>

}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">@Dil.SatisBilgileri</div>
            <div class="panel-body">
                <table id="tblSatislistesi" class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>@Dil.SatisTipi</th>
                            <th>@Dil.Ad @Dil.Soyad</th>
                            <th>@Dil.AboneNo</th>
                           @* <th>@Dil.SayacSeriNo</th>*@
                            <th>@Dil.SayacModel</th>
                            <th>@Dil.KapakSeriNo</th>
                            <th>@Dil.Kredi</th>
                            <th>@Dil.Kdv</th>
                            <th>@Dil.Ctv</th>
                            <th>@Dil.AylikBakimBedeli</th>
                            <th>@Dil.SatisTutari</th>
                            <th>@Dil.Tutar</th>
                            <th>@Dil.SatisTarih</th>
                            <th>@Dil.Vezne</th>
                            <th style="width: 100px">@Dil.Islem</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">@Dil.Toplam @Dil.SatisBilgileri</div>
            <div class="panel-body">
                <table id="tblToplamSatislistesi" class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>@Dil.SatisTipi</th>
                            <th>@Dil.Ad @Dil.Soyad</th>
                            <th>@Dil.AboneNo</th>
                            <th>@Dil.SayacSeriNo</th>
                            <th>@Dil.KapakSeriNo</th>
                            <th>@Dil.Kredi</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {


           AraFiltered();
           AraToplamSatisFiltered();
             $("#btnAra").click(function (e) {

                 e.preventDefault();
                 AraFiltered();
                 AraToplamSatisFiltered();
            });

        function AraFiltered() {


            $('#tblSatislistesi').dataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        action: newExportAction
                    }
                ],
                'language': GetSession(baseUrl),
                'processing': true,
                'serverSide': true,
                'destroy': true,
                'columns': [
                    { 'data': "SatisTipAdi" },
                    { 'data': "AboneAdSoyad" },
                    { 'data': "AboneNo" },
                    //{ 'data': "SayacSeriNo" },
                    { 'data': "SayacTipi" },
                    { 'data': "KapakSeriNo" },
                    { 'data': "KREDI" },
                    { 'data': "Kdv" },
                    { 'data': "Ctv" },
                    { 'data': "AylikBakimBedeli" },
                    { 'data': "SatisTutarı" },
                    { 'data': "ODEME" },
                    { 'data': "OLUSTURMATARIH" },
                    { 'data': "OlusturanKullaniciAdi" },
                    { 'data': "Islemler", sortable: false }
                ],
                'ajax': {
                    'type': 'POST',
                    'data': $("#frmAra").serializeObject(),
                    'url': "@Url.Action("DataTablesList", "Satis")",
                    'error': function (xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
                    'complete': function () { }
                }

            });

        }

        function AraToplamSatisFiltered() {


            $('#tblToplamSatislistesi').dataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        action: newExportAction
                    }
                ],
                'language': dataTableLanguage,
                'processing': true,
                'serverSide': true,
                'destroy': true,
                'columns': [
                    { 'data': "SatisTipi" },
                    { 'data': "AdSoyad" },
                    { 'data': "AboneNo" },
                    { 'data': "SayacSeriNo" },
                    { 'data': "KapakSerino" },
                    { 'data': "Kredi" },

                ],
                'ajax': {
                    'type': 'POST',
                    'data': $("#frmAra").serializeObject(),
                    'url': "@Url.Action("ToplamSatisGetir", "Home")",
                    'error': function (xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
                    'complete': function () { }
                }

            });

        }
    });


</script>
