@using OsosOracle.Framework.HtmlHelpers
@using System.Configuration
@model OsosOracle.MvcUI.Models.ENTSATISModels.ENTSATISKaydetModel

@section panelHeading
{

}

<button id="btnKartOku" type="button" class="btn btn-danger btn-sm">KartOku </button>

<div class="form-horizontal">
    <div class="form-group form-group-sm">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Abone Bilgileri</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Tarife Adı" id="txtTarife" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Abone No" id="txtAboneNo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Sayaç Seri No" id="txtSayacSeriNo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Ana Kredi" id="txtAnaKredi" />
                            </div>
                        </div><div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Yedek Kredi" id="txtYedekKredi" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Satış</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    @* @Html.TextBoxFor(t => t.GirilenTutar, new { @class = "form-control", placeholder = _T("Tutar"), Id = "txtTutar" })*@
                                    <input type="text" class="form-control" placeholder="Tutar" id="txtTutar" />
                                </div>
                                <div class="col-sm-6">
                                    @* @Html.TextBoxFor(t => t.ElkKartYuklenecek.AnaKredi, new { @class = "form-control", placeholder = _T("Kredi") })*@
                                    <input type="text" class="form-control" placeholder="Kredi" id="txtKredi" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">

                        <button type="submit" class="btn btn-danger btn-sm" name="submitButton" id="btnKrediYukle">
                            Kredi Yükle
                        </button>
                    </div>
                </div>

            </div>

            <div class="clearfix">&nbsp;</div>


        </div>

    </div>
</div>








@section script
{
    <script type="text/javascript">

        $(document).ready(function () {
            var namespace='@ConfigurationManager.AppSettings["KartNamespace"]';
               var satisKaydetModel=@Html.Raw(Json.Encode(Model));


            $("#btnKartOku").click(function (e) {

                var kart = AboneOku();
                if (kart !== false) {

                    $.ajax({
                        url: '/Satis/KartOkunanSogukSu',
                    method: "POST",
                    async: false,
                        data: { hamdata: kart },
                        success: function (jqx) {
                            satisKaydetModel.SogukSuOkunan = jqx;
                            //$("#txtAboneNo").val(satisKaydetModel.ElkKartOkunan.AboneNo);
                            $("#txtSayacSeriNo").val(jqx.SayacSeriNo);
                            $("#txtAnaKredi").val(jqx.Kredi);
                            $("#txtYedekKredi").val(jqx.YedekKredi);
                           // $("#txtTarife").val(jqx.CihazNo);
                        }
                    });
                }

            });

            $('#txtTutar').blur(function () {
                        var hesaplaUrl = "@Url.Action("HesaplaSogukSu", "Satis")";
                        var girilenTutar = $("#txtTutar").val();
                        satisKaydetModel.GirilenTutar = girilenTutar;

                        $.ajax({
                            type: "POST",
                            data: JSON.stringify(satisKaydetModel),
                            url: hesaplaUrl,
                            contentType: "application/json"
                        }).done(function (res) {
                            satisKaydetModel = res;
                            $("#txtKredi").val(satisKaydetModel.SogukSuYazilacak.YuklenecekM3);

                            //if (satisKaydetModel.ElkKartYuklenecek.sayacBilgi == null) {
                            //    $("#txtKredi").val(satisKaydetModel.ElkKartYuklenecek.AnaKredi);

                            //} else {
                            //    ajaxMesajGoster(satisKaydetModel.ElkKartYuklenecek.sayacBilgi);

                            //}


                        });
            });

            $("#btnKrediYukle").click(function (e) {

              //  KrediYukle(satisKaydetModel);
                var satisUrl = "@Url.Action("SatisKaydetSogukSu", "Satis")";


                $.ajax({
                    type: "POST",
                    data: JSON.stringify(satisKaydetModel),
                    url: satisUrl,
                    contentType: "application/json"
                }).done(function (res) {

                    var url = '@Url.Action("MakbuzIndir","Satis")' + '?filename=' + res.fileName;
                    window.location.href = url;
                    satisKaydetModel = null;
                    GorunumAyarla();
                });
            });





            function AboneOku() {

                var result = false;
                try {
                    var sogukSu = new ActiveXObject(namespace);
                    var kartTip = sogukSu.KartTipi();
                    if (kartTip === "Abone Kartı") {
                        result = sogukSu.AboneOku();
                    } else if (kartTip === "Bos Kart") {
                        ajaxMesajGoster('Kart Boş');
                    } else {
                        ajaxMesajGoster('Kart Bilgisi Alınamıyor');
                    }
                    return result;
                } catch (e) {

                    ajaxMesajGoster(e);

                }


            }



            function KrediYukle(satisKaydetModel) {
                var sogukSu = new ActiveXObject(namespace);
                try {

                    var kartTip = sogukSu.KartTipi();
                    if (kartTip === "Abone Kartı") {
                        KrediYukleKart(satisKaydetModel);
                    } else if (kartTip === "Bos Kart") {
                        ajaxMesajGoster('Kart Boş');
                    } else {
                        ajaxMesajGoster('Kart Bilgisi Alınamıyor');
                    }
                } catch (e) {
                    ajaxMesajGoster(e);
                }
            }

            function KrediYukleKart(satisKaydetModel) {
                var sogukSu = new ActiveXObject(namespace);
                var result = false;
                try {
                    result = sogukSu.AboneYaz(satisKaydetModel.KalorimetreYazilacak.devno,
                        satisKaydetModel.KalorimetreYazilacak.anakr,
                        satisKaydetModel.KalorimetreYazilacak.yedekkr,
                        satisKaydetModel.KalorimetreYazilacak.Bayram1Gunn,
                        satisKaydetModel.KalorimetreYazilacak.Bayram1Ayy,
                        satisKaydetModel.KalorimetreYazilacak.Bayram1Suree,
                        satisKaydetModel.KalorimetreYazilacak.Bayram2Gunn,
                        satisKaydetModel.KalorimetreYazilacak.Bayram2Ayy,
                        satisKaydetModel.KalorimetreYazilacak.Bayram2Suree
                    );
                    if (result == "1") {
                        ajaxMesajGoster('İşlem Başarılı');
                    } else {
                        ajaxMesajGoster('İşlem Başarısız');
                    }
                } catch (e) {
                    ajaxMesajGoster(e);
                }
            }

            function GorunumAyarla() {
                //$("#txtAboneNo").val('');
                $("#txtSayacSeriNo").val('');
                $("#txtAnaKredi").val('');
                $("#txtYedekKredi").val('');
                $("#txtTutar").val('');
                $("#txtKredi").val('');
            }

        });

    </script>


}
