

@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.MvcUI.Models.SYSMENUModels.SYSMENUDetayModel

@section panelHeading{
	@Html.ButtonLink(_T("Listeye Dön").ToString(), "Index", "btn btn-xs btn-info", "fa-reply")
	@Html.ButtonLink(_T("Sil").ToString(), "Sil", "btn btn-xs btn-danger modalizer", "fa-trash", new { id = Model.SYSMENUDetay.Id })
	@Html.ButtonLink(_T("Düzenle").ToString(), "Guncelle","btn btn-xs btn-primary modalizer", "fa-edit", new { id = Model.SYSMENUDetay.Id })

}

<div class="ajaxForm">

	  
	<div class="row static-info">
		<div class="col-md-5 name">@_T("SYS_STSKT1MEJGIHISCF4VU9XSFW$H")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.SYS_STSKT1MEJGIHISCF4VU9XSFW$H</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("TR")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.TR</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("EN")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.EN</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("YEREL")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.YEREL</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("PARENTKAYITNO")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.PARENTKAYITNO</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("MENUORDER")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.MENUORDER</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("EXTERNALURL")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.EXTERNALURL</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("AREA")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.AREA</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("ACTION")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.ACTION</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("CONTROLLER")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.CONTROLLER</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("PARAMETERS")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.PARAMETERS</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("DURUM")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.DURUM</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("VERSIYON")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.VERSIYON</div>
	 </div>


	<div class="row static-info">
		<div class="col-md-5 name">@_T("ICON")</div>
		<div class="col-md-7 value">@Model.SYSMENUDetay.ICON</div>
	 </div>


	 
	@Html.ButtonLink(_T("Vazgeç").ToString(), "Index", "btn btn-xs btn-danger cancel", "fa-remove")
</div>

@section script
{
	<script type="text/javascript">
		$(document).ready(function () {
		//js kodunuzu buraya yazın	
		});

	</script>
}
