@using OsosOracle.Framework.HtmlHelpers
@using OsosOracle.MvcUI.Resources

@{
    ViewBag.Title = Dil.KurumIslemleri;
}
<div class="row">
    @Html.ButtonLink(Dil.YeniKurumEkle, "Ekle", "btn btn-xs btn-success modalizer", "fa-plus", htmlAttributes: new { Id = "btnYeniKurumKayit" })
    @Html.ButtonLink(Dil.YeniKullaniciEkle, "KullaniciEkle", "btn btn-xs btn-info modalizer", "fa-plus", htmlAttributes: new { Id = "btnYeniKullaniciKayit" })
</div>



<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Dil.KurumListesi</div>
            <div class="panel-body">
                <table id="tblKurumlistesi" class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>@Dil.Kurum </th>
                            <th>@Dil.Aciklama</th>
                            <th>Dll</th>
                            <th style="width: 100px">@Dil.Islem</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Dil.KurumListesi</div>
            <div class="panel-body">
                <table id="tblSYSKULLANICI" class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>@Dil.KullaniciAdi</th>
                            <th>@Dil.Sifre</th>
                            <th>@Dil.Ad</th>
                            <th>@Dil.Soyad</th>
                            <th>@Dil.TelefonNumarasi</th>
                            <th>@Dil.Email</th>
                            <th>@Dil.Kurum</th>

                            <th style="width: 100px">@Dil.Islem</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        AraKurum();
        AraKullanici();


        function AraKurum() {


            $('#tblKurumlistesi').dataTable({
                'language': dataTableLanguage,
                'processing': true,
                'serverSide': true,
                'destroy': true,
                'columns': [
                    { 'data': "AD" },
                    { 'data': "ACIKLAMA" },
                    { 'data': "DllAdi" },
                    { 'data': "Islemler", sortable: false }
                ],
                'ajax': {
                    'type': 'POST',
                    'data': $("#frmAra").serializeObject(),
                    'url': "@Url.Action("DataTablesList", "Kurum")",
                    'error': function (xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
                    'complete': function () { }
                }

            });

        }

        	function AraKullanici() {
		$('#tblSYSKULLANICI').dataTable({
			'language': GetSession(baseUrl),
			'processing': true,
			'serverSide': true,
			'destroy': true,
			'columns': [
			    {'data': "KULLANICIAD"},
				{'data': "SIFRE"},
				{'data': "AD"},
                {'data': "SOYAD" },
                {'data': "Gsm" },
                {'data': "EPosta" },
				{'data': "KurumAdi"},

				{'data': "Islemler", sortable: false}
			],
			'ajax': {
				'type': 'POST',
				'data': $("#frmAra").serializeObject(),
				'url': "@Url.Action("DataTablesList", "SYSKULLANICI")",
				'error': function(xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
				'complete': function() { }
		   }

		});
	 }

    });


</script>



