@using OsosOracle.MvcUI.Resources
@using OsosOracle.Framework.HtmlHelpers
@model OsosOracle.MvcUI.Models.PRMTARIFEGAZModels.PRMTARIFEGAZKaydetModel

@section panelHeading
{

}

<div class="ajaxForm">

    @using (Html.BeginForm("Kaydet", "PRMTARIFEGAZ", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(t => t.PRMTARIFEGAZ.KAYITNO)
        @Html.HiddenFor(t => t.PRMTARIFEGAZ.VERSIYON)
        @Html.HiddenFor(t => t.PRMTARIFEGAZ.OLUSTURAN)
        @Html.HiddenFor(t => t.PRMTARIFEGAZ.GUNCELLEYEN)
        @Html.ValidationSummary(true)

        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.AD, new { @class = "form-control", placeholder = Dil.TarifeAdi })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.AD)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.SAYACCAP, new { @class = "form-control", placeholder = Dil.CAP })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.SAYACCAP)
            </div>
            <div class="col-md-6">
                 @Html.TextBoxFor(t => t.PRMTARIFEGAZ.SAYACTUR, new { @class = "form-control", placeholder = Dil.SayacTipi })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.SAYACTUR)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.KRITIKKREDI, new { @class = "form-control int", placeholder = Dil.KRITIKKREDI })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.KRITIKKREDI)
            </div>

            <div class="col-md-6">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.YEDEKKREDI, new { @class = "form-control int", placeholder = Dil.YedekKredi })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.YEDEKKREDI)
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.FIYAT1, new { @class = "form-control int", placeholder = Dil.FIYAT1 })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.FIYAT1)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.BIRIMFIYAT, new { @class = "form-control", placeholder = Dil.BirimFiyat })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.BIRIMFIYAT)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.TUKETIMLIMIT, new { @class = "form-control int", placeholder = Dil.TuketimLimiti })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.TUKETIMLIMIT)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.BAYRAM1GUN, new { @class = "form-control int", placeholder = Dil.Bayram1Gun })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.BAYRAM1GUN)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.BAYRAM1AY, new { @class = "form-control int", placeholder = Dil.Bayram1Ay })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.BAYRAM1AY)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.BAYRAM1SURE, new { @class = "form-control int", placeholder = Dil.Bayram1Sure })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.BAYRAM1SURE)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.BAYRAM2GUN, new { @class = "form-control int", placeholder = Dil.Bayram2Gun })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.BAYRAM2GUN)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.BAYRAM2AY, new { @class = "form-control int", placeholder = Dil.Bayram2Ay })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.BAYRAM2AY)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.BAYRAM2SURE, new { @class = "form-control int", placeholder = Dil.Bayram2Sure })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.BAYRAM2SURE)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.SABAHSAAT, new { @class = "form-control", placeholder = Dil.SabahSaati })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.SABAHSAAT)

            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.AKSAMSAAT, new { @class = "form-control", placeholder = Dil.AksamSaati })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.AKSAMSAAT)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.PULSE, new { @class = "form-control int", placeholder = _T("Pulse") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.PULSE)

            </div>
        </div>
          <div class="form-group row">
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.TuketimKatsayi, new { @class = "form-control", placeholder = Dil.TuketimKatsayisi })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.TuketimKatsayi)

            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.Kdv, new { @class = "form-control", placeholder = "Kdv" })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.Kdv)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(t => t.PRMTARIFEGAZ.Ctv, new { @class = "form-control", placeholder = _T("Çtv") })
                @Html.ValidationMessageFor(t => t.PRMTARIFEGAZ.Ctv)

            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Dil.Kaydet</button>
            @Html.ButtonLink(Dil.Vazgec, "Index", "btn btn-xs btn-danger cancel", "fa-remove")
        </div>
    }
</div>

@section script
{
    <script type="text/javascript">
        $(document).ready(function () {
            //js kodunuzu buraya yazın
        });

    </script>
}
