@using OsosOracle.Framework.HtmlHelpers
@using OsosOracle.MvcUI.Resources
@using OsosOracle.MvcUI.Models.ENTABONESAYACModels
@model PartialModel


<div class="portlet box purple-plum">
    <form id="frmKalorimetrePartial">
        @Html.HiddenFor(t => t.AboneKayitNo)
        @Html.HiddenFor(t => t.GuncelleBtnVisible)
        @Html.HiddenFor(t => t.SilBtnVisible)
        @Html.HiddenFor(t => t.ReturnUrl)
        @Html.HiddenFor(t => t.EntAboneSayacAra.Durum)
    </form>


    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bank"></i><span class="caption-subject">@Dil.Kalorimetre @Dil.SayacBilgileri</span> <span class="caption-helper"> </span>
        </div>
        <div class="tools">
            <a href="#" class="collapse" data-original-title="Aç/Kapa" title=""> </a>
        </div>
        <div class="actions">
            @Html.ButtonLink(Dil.Ekle, "Ekle", "btn btn-circle red-pink modalizer", "fa fa-pencil", new { AboneKayitNo = Model.AboneKayitNo, Tip = 2, returnUrl = Model.ReturnUrl }, null, "AboneSayac")
        </div>
    </div>
    <div class="portlet-body" style="display: block;">
        <table id="tblKalorimetrePartial" class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>@Dil.SayacModel</th>
                    <th>@Dil.SayacSeriNo</th>
                    <th>@Dil.KapakSeriNo</th>
                    <th>@Dil.Tarife</th>
                    <th>@Dil.MontajTarihi</th>
                    <th>@Dil.Aciklama</th>
                    <th style="width: 100px">@Dil.Islem</th>
                </tr>
            </thead>
        </table>
    </div>

</div>


<script type="text/javascript">
        $(document).ready(function () {
             $('#tblKalorimetrePartial').dataTable({
            'language': dataTableLanguage,
            'processing': true,
            'serverSide': true,
            'destroy': true,
            'columns': [
                { 'data': "SayacModel" },
                { 'data': "SayacSeriNo" },
                { 'data': "KapakSeriNo" },
                { 'data': "KalorimetreTarifeAdi" },
                { 'data': "TAKILMATARIH"},
                { 'data': "Aciklama" },
                { 'data': "Islemler"  }

            ],
            'ajax': {
                'type': 'POST',
                'data': $("#frmKalorimetrePartial").serializeObject(),
                'url': "@Url.Action("DataTablesListKalorimetre", "AboneSayac")",
                'error': function (xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
                'complete': function () { }
            }

        });
        });
    function KartHazirla(aboneKayitNo) {
                try {


                    var request = $.ajax({
                                           url: "@Url.Action("Tarife", "Abone")",
                                           method: "POST",
                                           async: true,
                                           dataType: "json",
                                           data: { aboneKayitNo: aboneKayitNo }
                                         });
                                          request.done(function (jqXHR) {

                                              //Tarife Bilgileri geldi

                                              if (jqXHR.EntSayacDetay.SayacTipi == "AS20") {
                                                  var su = new ActiveXObject("SmartCard.KartIslem");
                                                  var result = su.AboneYap(jqXHR.EntSayacDetay.SERINO,
                                                      1,
                                                      jqXHR.PRMTARIFESU.LIMIT1,
                                                      jqXHR.PRMTARIFESU.LIMIT2,
                                                      jqXHR.PRMTARIFESU.FIYAT1,
                                                      jqXHR.PRMTARIFESU.FIYAT2,
                                                      jqXHR.PRMTARIFESU.FIYAT3,
                                                      jqXHR.PRMTARIFESU.FIYAT4,
                                                      jqXHR.PRMTARIFESU.FIYAT4,
                                                      jqXHR.PRMTARIFESU.FIYAT4,
                                                      jqXHR.PRMTARIFESU.FIYAT4

                                                  );
                                                  if (result === "1") {
                                                      ajaxMesajGoster('İşlem Başarılı');
                                                  } else {
                                                      ajaxMesajGoster('İşlem Başarısız', 'Hata');
                                                  }
                                              }
                                              else if (jqXHR.EntSayacDetay.SayacTipi == "Mercan" || jqXHR.EntSayacDetay.SayacTipi == "AS20" || jqXHR.EntSayacDetay.SayacTipi == "AS25") {
                                                  var su = new ActiveXObject("SmartCard.Mercan");
                                                  var result = su.AboneYap(jqXHR.EntSayacDetay.SERINO,
                                                      jqXHR.ENTABONE.ABONENO,
                                                      1,
                                                      jqXHR.PRMTARIFESU.SAYACCAP,
                                                      1,
                                                      jqXHR.PRMTARIFESU.DONEMGUN,
                                                      jqXHR.PRMTARIFESU.FIYAT1,
                                                      jqXHR.PRMTARIFESU.FIYAT2,
                                                      jqXHR.PRMTARIFESU.FIYAT3,
                                                      jqXHR.PRMTARIFESU.FIYAT4,
                                                      jqXHR.PRMTARIFESU.FIYAT5,
                                                      jqXHR.PRMTARIFESU.LIMIT1,
                                                      jqXHR.PRMTARIFESU.LIMIT2,
                                                      jqXHR.PRMTARIFESU.LIMIT3,
                                                      jqXHR.PRMTARIFESU.LIMIT4,
                                                      jqXHR.PRMTARIFESU.BAYRAM1GUN,
                                                      jqXHR.PRMTARIFESU.BAYRAM1AY,
                                                      jqXHR.PRMTARIFESU.BAYRAM1SURE,
                                                      jqXHR.PRMTARIFESU.BAYRAM2GUN,
                                                      jqXHR.PRMTARIFESU.BAYRAM2AY,
                                                      jqXHR.PRMTARIFESU.BAYRAM2SURE,
                                                      jqXHR.PRMTARIFESU.AVANSONAY,
                                                      1,
                                                      jqXHR.PRMTARIFESU.YANGINMODSURE,
                                                      jqXHR.PRMTARIFESU.MAXDEBI,
                                                      jqXHR.PRMTARIFESU.KRITIKKREDI,
                                                      jqXHR.PRMTARIFESU.BAGLANTIPERIYOT


                                                  );
                                                  if (result === "1") {
                                                      ajaxMesajGoster('İşlem Başarılı');
                                                  } else {
                                                      ajaxMesajGoster('İşlem Başarısız', 'Hata');
                                                  }
                                              } else if (jqXHR.EntSayacDetay.SayacTipi == "Kalorimetre") {
                                                  var kalorimetre = new ActiveXObject("SmartCard.KALORIMETRE");
                                                  var result = kalorimetre.AboneYap(jqXHR.EntSayacDetay.SERINO,
                                                      1,
                                                      jqXHR.PrmTarifeKALORIMETRE.LIMIT1,
                                                      jqXHR.PrmTarifeKALORIMETRE.LIMIT2,
                                                      jqXHR.PrmTarifeKALORIMETRE.FIYAT1,
                                                      jqXHR.PrmTarifeKALORIMETRE.FIYAT2,
                                                      jqXHR.PrmTarifeKALORIMETRE.FIYAT3,
                                                      jqXHR.PrmTarifeKALORIMETRE.FIYAT4,
                                                      jqXHR.PrmTarifeKALORIMETRE.FIYAT4,
                                                      jqXHR.PrmTarifeKALORIMETRE.FIYAT4,
                                                      jqXHR.PrmTarifeKALORIMETRE.FIYAT4


                                                  );
                                                  if (result === "1") {
                                                      ajaxMesajGoster('İşlem Başarılı');
                                                  } else {
                                                      ajaxMesajGoster('İşlem Başarısız', 'Hata');
                                                  }

                                              } else if (jqXHR.EntSayacDetay.SayacTipi == "Elektrik A5") {
                                                  var elektrik = new ActiveXObject("SmartCard.SayacTurleri.ElektrikTr");
                                                  var result = elektrik.AboneYap(jqXHR.ENTSAYAC.SERINO,
                                                      jqXHR.PRMTARIFEELK.FIYAT1,
                                                      jqXHR.PRMTARIFEELK.FIYAT2,
                                                      jqXHR.PRMTARIFEELK.FIYAT3,
                                                      jqXHR.PRMTARIFEELK.LIMIT1,
                                                      jqXHR.PRMTARIFEELK.LIMIT2,
                                                      jqXHR.PRMTARIFEELK.YUKLEMELIMIT,
                                                      jqXHR.PRMTARIFEELK.AKSAMSAAT,
                                                      jqXHR.PRMTARIFEELK.SABAHSAAT,
                                                      jqXHR.PRMTARIFEELK.HAFTASONUAKSAM,
                                                      jqXHR.PRMTARIFEELK.SABITUCRET,
                                                      jqXHR.PRMTARIFEELK.BAYRAM1GUN,
                                                      jqXHR.PRMTARIFEELK.BAYRAM1AY,
                                                      jqXHR.PRMTARIFEELK.BAYRAM1SURE,
                                                      jqXHR.PRMTARIFEELK.BAYRAM2GUN,
                                                      jqXHR.PRMTARIFEELK.BAYRAM2AY,
                                                      jqXHR.PRMTARIFEELK.BAYRAM2SURE,
                                                      jqXHR.PRMTARIFEELK.KRITIKKREDI

                                                  );
                                                  if (result === "1") {
                                                      ajaxMesajGoster('İşlem Başarılı');
                                                  } else {
                                                      ajaxMesajGoster('İşlem Başarısız', 'Hata');
                                                  }
                                              }




                                          });
                                         request.fail(function (jqXHR, textStatus) {
                                             unblockUI();
                                             var msg = jQuery.parseJSON(jqXHR.responseText);
                                             ajaxMesajGoster(msg.Mesaj);
                                         });


                } catch (e) {
                    console.log(e);
                }

    }
</script>






