
@using OsosOracle.Framework.HtmlHelpers
@using OsosOracle.MvcUI.Infrastructure
@model OsosOracle.MvcUI.Models.ENTSAYACSONDURUMSUModels.ENTSAYACSONDURUMSUIndexModel

@section panelHeading{
	@Html.ButtonLink(_T("Yeni ENTSAYACSONDURUMSU").ToString(), "Ekle", "btn btn-xs btn-success modalizer", "fa-plus")
}

@using (Html.BeginPortlet("ENTSAYACSONDURUMSU Arama", "Detaylı Arama", "fa fa-search"))
{
<form id="frmAra" class="form-bordered">

	<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.CAP, new { @class = "form-control int", placeholder = _T("CAP") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.BAGLANTISAYISI, new { @class = "form-control int", placeholder = _T("BAGLANTISAYISI") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.LIMIT1, new { @class = "form-control int", placeholder = _T("LIMIT1") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.LIMIT2, new { @class = "form-control int", placeholder = _T("LIMIT2") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.LIMIT3, new { @class = "form-control int", placeholder = _T("LIMIT3") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.LIMIT4, new { @class = "form-control int", placeholder = _T("LIMIT4") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.KRITIKKREDI, new { @class = "form-control int", placeholder = _T("KRITIKKREDI") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.FIYAT1, new { @class = "form-control int", placeholder = _T("FIYAT1") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.FIYAT2, new { @class = "form-control int", placeholder = _T("FIYAT2") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.FIYAT3, new { @class = "form-control int", placeholder = _T("FIYAT3") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.FIYAT4, new { @class = "form-control int", placeholder = _T("FIYAT4") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.FIYAT5, new { @class = "form-control int", placeholder = _T("FIYAT5") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ARIZAA, new { @class = "form-control", placeholder = _T("ARIZAA") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ARIZAK, new { @class = "form-control", placeholder = _T("ARIZAK") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ARIZAP, new { @class = "form-control", placeholder = _T("ARIZAP") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ARIZAPIL, new { @class = "form-control", placeholder = _T("ARIZAPIL") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.BORC, new { @class = "form-control", placeholder = _T("BORC") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ITERASYON, new { @class = "form-control int", placeholder = _T("ITERASYON") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.PILAKIM, new { @class = "form-control int", placeholder = _T("PILAKIM") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.PILVOLTAJ, new { @class = "form-control int", placeholder = _T("PILVOLTAJ") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.SONYUKLENENKREDITARIH, new { @class = "form-control int", placeholder = _T("SONYUKLENENKREDITARIH") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ABONENO, new { @class = "form-control int", placeholder = _T("ABONENO") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ABONETIP, new { @class = "form-control int", placeholder = _T("ABONETIP") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ILKPULSETARIH, new { @class = "form-control int", placeholder = _T("ILKPULSETARIH") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.SONPULSETARIH, new { @class = "form-control int", placeholder = _T("SONPULSETARIH") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.BORCTARIH, new { @class = "form-control int", placeholder = _T("BORCTARIH") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.MAXDEBI, new { @class = "form-control int", placeholder = _T("MAXDEBI") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.MAXDEBISINIR, new { @class = "form-control int", placeholder = _T("MAXDEBISINIR") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.DONEMGUN, new { @class = "form-control int", placeholder = _T("DONEMGUN") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.DONEM, new { @class = "form-control int", placeholder = _T("DONEM") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.VANAACMATARIH, new { @class = "form-control int", placeholder = _T("VANAACMATARIH") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.VANAKAPAMATARIH, new { @class = "form-control int", placeholder = _T("VANAKAPAMATARIH") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.SICAKLIK, new { @class = "form-control int", placeholder = _T("SICAKLIK") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.MINSICAKLIK, new { @class = "form-control int", placeholder = _T("MINSICAKLIK") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.MAXSICAKLIK, new { @class = "form-control int", placeholder = _T("MAXSICAKLIK") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.YANGINMODU, new { @class = "form-control int", placeholder = _T("YANGINMODU") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ASIRITUKETIM, new { @class = "form-control", placeholder = _T("ASIRITUKETIM") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ARIZA, new { @class = "form-control", placeholder = _T("ARIZA") })
</div>

<div class="form-group">
    @Html.DateInput(t => t.ENTSAYACSONDURUMSUAra.SONBILGILENDIRMEZAMANI, new { placeholder =  _T("SONBILGILENDIRMEZAMANI") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.PARAMETRE, new { @class = "form-control int", placeholder = _T("PARAMETRE") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ACIKLAMA, new { @class = "form-control int", placeholder = _T("ACIKLAMA") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.DURUM, new { @class = "form-control int", placeholder = _T("DURUM") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.KREDIBITTI, new { @class = "form-control", placeholder = _T("KREDIBITTI") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.KREDIAZ, new { @class = "form-control", placeholder = _T("KREDIAZ") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ANAPILBITTI, new { @class = "form-control", placeholder = _T("ANAPILBITTI") })
</div>

<div class="form-group">
    @Html.DateInput(t => t.ENTSAYACSONDURUMSUAra.SONBAGLANTIZAMAN, new { placeholder =  _T("SONBAGLANTIZAMAN") })
</div>

<div class="form-group">
    @Html.DateInput(t => t.ENTSAYACSONDURUMSUAra.SONOKUMATARIH, new { placeholder =  _T("SONOKUMATARIH") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.PULSEHATA, new { @class = "form-control", placeholder = _T("PULSEHATA") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.RTCHATA, new { @class = "form-control", placeholder = _T("RTCHATA") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.VANA, new { @class = "form-control", placeholder = _T("VANA") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.CEZA1, new { @class = "form-control", placeholder = _T("CEZA1") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.CEZA2, new { @class = "form-control", placeholder = _T("CEZA2") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.CEZA3, new { @class = "form-control", placeholder = _T("CEZA3") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.CEZA4, new { @class = "form-control", placeholder = _T("CEZA4") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.MAGNET, new { @class = "form-control", placeholder = _T("MAGNET") })
</div>

<div class="form-group">
    @Html.TextBoxFor(t => t.ENTSAYACSONDURUMSUAra.ANAPILZAYIF, new { @class = "form-control", placeholder = _T("ANAPILZAYIF") })
</div>



	<div class="form-actions">
		<button type="button" class="btn btn-primary btn-sm" id="btnAra"><i class="fa fa-search"></i> @_T("Bul")</button>
	</div>
</form>
}


<table id="tblENTSAYACSONDURUMSU" class="table table-striped table-bordered table-hover table-responsive">
	<thead>
		<tr>
			<th style="width: 30px">@_T("Id")</th>
						<th>@_T("CAP")</th>
			<th>@_T("BAGLANTISAYISI")</th>
			<th>@_T("LIMIT1")</th>
			<th>@_T("LIMIT2")</th>
			<th>@_T("LIMIT3")</th>
			<th>@_T("LIMIT4")</th>
			<th>@_T("KRITIKKREDI")</th>
			<th>@_T("FIYAT1")</th>
			<th>@_T("FIYAT2")</th>
			<th>@_T("FIYAT3")</th>
			<th>@_T("FIYAT4")</th>
			<th>@_T("FIYAT5")</th>
			<th>@_T("ARIZAA")</th>
			<th>@_T("ARIZAK")</th>
			<th>@_T("ARIZAP")</th>
			<th>@_T("ARIZAPIL")</th>
			<th>@_T("BORC")</th>
			<th>@_T("ITERASYON")</th>
			<th>@_T("PILAKIM")</th>
			<th>@_T("PILVOLTAJ")</th>
			<th>@_T("SONYUKLENENKREDITARIH")</th>
			<th>@_T("ABONENO")</th>
			<th>@_T("ABONETIP")</th>
			<th>@_T("ILKPULSETARIH")</th>
			<th>@_T("SONPULSETARIH")</th>
			<th>@_T("BORCTARIH")</th>
			<th>@_T("MAXDEBI")</th>
			<th>@_T("MAXDEBISINIR")</th>
			<th>@_T("DONEMGUN")</th>
			<th>@_T("DONEM")</th>
			<th>@_T("VANAACMATARIH")</th>
			<th>@_T("VANAKAPAMATARIH")</th>
			<th>@_T("SICAKLIK")</th>
			<th>@_T("MINSICAKLIK")</th>
			<th>@_T("MAXSICAKLIK")</th>
			<th>@_T("YANGINMODU")</th>
			<th>@_T("ASIRITUKETIM")</th>
			<th>@_T("ARIZA")</th>
			<th>@_T("SONBILGILENDIRMEZAMANI")</th>
			<th>@_T("PARAMETRE")</th>
			<th>@_T("ACIKLAMA")</th>
			<th>@_T("DURUM")</th>
			<th>@_T("KREDIBITTI")</th>
			<th>@_T("KREDIAZ")</th>
			<th>@_T("ANAPILBITTI")</th>
			<th>@_T("SONBAGLANTIZAMAN")</th>
			<th>@_T("SONOKUMATARIH")</th>
			<th>@_T("PULSEHATA")</th>
			<th>@_T("RTCHATA")</th>
			<th>@_T("VANA")</th>
			<th>@_T("CEZA1")</th>
			<th>@_T("CEZA2")</th>
			<th>@_T("CEZA3")</th>
			<th>@_T("CEZA4")</th>
			<th>@_T("MAGNET")</th>
			<th>@_T("ANAPILZAYIF")</th>

			<th style="width: 100px">@_T("İşlemler")</th>
		</tr>
	</thead>
</table>
@section script{
<script type="text/javascript">
	$(document).ready(function () {
		AraFiltered();
		$("#btnAra").click(function(e) {
				e.preventDefault();
				AraFiltered();
		});
	});

	function AraFiltered() {
		$('#tblENTSAYACSONDURUMSU').dataTable({
			'language': dataTableLanguage,
			'processing': true,
			'serverSide': true,
			'destroy': true,
			'columns': [
				{'data': "KAYITNO"},
								{'data': "CAP"},
				{'data': "BAGLANTISAYISI"},
				{'data': "LIMIT1"},
				{'data': "LIMIT2"},
				{'data': "LIMIT3"},
				{'data': "LIMIT4"},
				{'data': "KRITIKKREDI"},
				{'data': "FIYAT1"},
				{'data': "FIYAT2"},
				{'data': "FIYAT3"},
				{'data': "FIYAT4"},
				{'data': "FIYAT5"},
				{'data': "ARIZAA"},
				{'data': "ARIZAK"},
				{'data': "ARIZAP"},
				{'data': "ARIZAPIL"},
				{'data': "BORC"},
				{'data': "ITERASYON"},
				{'data': "PILAKIM"},
				{'data': "PILVOLTAJ"},
				{'data': "SONYUKLENENKREDITARIH"},
				{'data': "ABONENO"},
				{'data': "ABONETIP"},
				{'data': "ILKPULSETARIH"},
				{'data': "SONPULSETARIH"},
				{'data': "BORCTARIH"},
				{'data': "MAXDEBI"},
				{'data': "MAXDEBISINIR"},
				{'data': "DONEMGUN"},
				{'data': "DONEM"},
				{'data': "VANAACMATARIH"},
				{'data': "VANAKAPAMATARIH"},
				{'data': "SICAKLIK"},
				{'data': "MINSICAKLIK"},
				{'data': "MAXSICAKLIK"},
				{'data': "YANGINMODU"},
				{'data': "ASIRITUKETIM"},
				{'data': "ARIZA"},
				{'data': "SONBILGILENDIRMEZAMANI"},
				{'data': "PARAMETRE"},
				{'data': "ACIKLAMA"},
				{'data': "DURUM"},
				{'data': "KREDIBITTI"},
				{'data': "KREDIAZ"},
				{'data': "ANAPILBITTI"},
				{'data': "SONBAGLANTIZAMAN"},
				{'data': "SONOKUMATARIH"},
				{'data': "PULSEHATA"},
				{'data': "RTCHATA"},
				{'data': "VANA"},
				{'data': "CEZA1"},
				{'data': "CEZA2"},
				{'data': "CEZA3"},
				{'data': "CEZA4"},
				{'data': "MAGNET"},
				{'data': "ANAPILZAYIF"},

				{'data': "Islemler", sortable: false}
			],
			'ajax': {
				'type': 'POST',
				'data': $("#frmAra").serializeObject(),
				'url': "@Url.Action("DataTablesList", "ENTSAYACSONDURUMSU")",
				'error': function(xhr, ajaxOptions, errorThrown) { ajaxMesajGoster(xhr.responseJSON.Mesaj); },
				'complete': function() { }
		   }
			
		});
	 }
   
</script>
}